# Example aliases
alias vim="nvim"
alias vz="vim ~/.zshrc"
alias sz="source ~/.zshrc"
alias vb="vim ~/.bashrc"
alias sb="source ~/.bashrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
alias dc="docker-compose"
alias sshapi="ssh jogi@209.124.64.75 -p 7822"
if ls --color -d . &> /dev/null
then
  alias ls="ls --color=auto"
elif ls -G -d . &> /dev/null
then
  alias ls='ls -G'        # Compact view, show colors
fi

# List directory contents
alias ls=alias ls='command ls -l --human-readable --group-directories-first --color=auto -I NTUSER.DAT\* -I ntuser.dat\*'
alias sl=ls
alias la='ls -AF'       # Compact view, show hidden
alias ll='ls -al'
alias l='ls -a'
alias l1='ls -1'
alias _="sudo"

alias grep='grep --color=auto'
export GREP_COLOR='1;33'

alias ..='cd ..'         # Go up one directory
alias cd..='cd ..'       # Common misspelling for going up one directory
alias ...='cd ../..'     # Go up two directories
alias ....='cd ../../..' # Go up three directories
alias -- -='cd -'        # Go back

alias md='mkdir -p'
alias rd='rmdir'
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

alias dc="docker-compose"
alias sshapi="ssh jogi@209.124.64.75 -p 7822"

# Git Aliases
alias gs='git status'
alias ga='git add .'
alias gac='git commit -am'
alias gc='git commit'
alias gco='git checkout'
