.dotfiles


.cache/
.cargo/
.config/yarn/
.config/configstore/
.dbus/
.docker/
.keychain/
.local/
.npm/
.nvm/
.pm2/
.remarkable/
.rustup/
.ssh/
.viminfo/
.vscode-server/
.w3m/
.wget-hsts
.yarn/
.vim/


.aws
.azure
.zcomp*
.*history
.prev_dir
.profile
.selected_editor


AppData/
Downloads/
exercism/
src/
