.dotfiles


.config/coc/mru
.config/coc/snippets-mru
.config/coc/extensions/node_modules

.config/nvim/autoload/

.cache/
.cargo/
.config/yarn/
.config/configstore/
.config/wslu/
.dbus/
.docker/
.keychain/
.local/
.oh-my-zsh/
.npm/
.nvm/
.pm2/
.remarkable/
.rustup/
.ssh/
.viminfo/
.vscode-server/
.w3m/
.wget-hsts
.yarn/
.vim/


.aws
.azure
.zcomp*
.*history
.prev_dir
.profile
.selected_editor
.viminfo
.yarnrc

bin/
jg/
AppData/
Downloads/
exercism/
src/
learn/
scripts/
work/

!.ssh/config

